
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer">
  <div class="footer-content">
    <h3>TAM</h3>
    <p>TAM est un site repertoriant de nombreux films et séries, vous permettant de créer des listes de ce que vous avez vu ou de pouvoir donner des notes entre autres.</p>
    <ul class="socials">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
</div>
<div class="footer-bottom">
    <p>copyright &copy; 2022 <a href="#" color="yellow">TAM</a>  </p>
            <div class="footer-menu">
              <ul class="f-menu">
                <li><a href="">A propos</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Github</a></li>
              </ul>
            </div>
</div>
</div>
